.login-wrapper .login-col,
.register-wrapper .register-col{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}
@media(max-width: 479.99px){
    .password-request{
        margin-top: 1rem;
    }
}